# Virtual environment
venv/
ENV/
env/
.venv/

# Python Cache 
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# log archieves and local databases
*.log
*.sqlite3

# settings files and env 
.env
*.ini
*.cfg
*.toml

# VSCode
.vscode/

# sistem files
.DS_Store
Thumbs.db

# Temporary files
*.bak
*.swp
*.tmp

# Test files
Backup/
.Backup/
